.label {
    font-weight: bold;
    font-size: large;
    color: black;
}

#options {
    float: left;
    width: 34%;
    padding-top: 38px;
    padding-bottom: 20px;

}

#option_list {
    position: relative;
    height: 100px;
}

#option_list > label {
    position: absolute;
    text-align: center;
    margin: 0 auto -1ex;
    right: 0;
    left: 0;
}

.slider_title {
    text-align: center;
    font-weight: bold;
}

.slider {
    padding-top: 20px;
    padding-bottom: 20px;
    display:flex;
    justify-content:center;
    align-items:center;
}

.consumption_rate {
    border: 1px solid black;
    font-weight: bold;
    text-align: right;
    float:right;
    padding-left: 3px;
    padding-right: 3px;
}

.consumption_rate:hover {
    background-color: lightgrey;
}

.info_box {
    background-color: white;
    border: 2px solid lightgrey;
}

.selectable {
    opacity: 0;
}

.selected {
    opacity: 0.7;
}
.selectable:hover {
    opacity: 0.5;
}